@import './vars.scss';
@import './helpers.scss';

* {
  font-family: 'Raleway', sans-serif;
  transition: all 0.5s;
}

body {
  background-color: var(--color-back);
  margin: 0;
}

.wrapper {
  padding-left: 112px;
  padding-right: 112px;
}

@include for-phone {
  .wrapper {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@include for-tablet {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@include for-desktop {
  .wrapper {
    padding-left: 90px;
    padding-right: 90px;
  }
}
